
.list a{
  color: #fff;
  padding: 10px 20px !important;
}
nav{
  background-color: #003B95;
}
.list a:hover{
  color: #fff !important;
  border: 1px #fff solid;
  background-color: #1A4FA0;
  border-radius: 50px;
}
